      <div class="container">
      <div class="row">
        <img src="images/quangcao1.png" alt="">
      </div>
      <h2 style="text-align: center;color:rgb(0,21,136)"><strong>ÁO THUN NĂM 2022</strong></h2>
      <div class="d-flex justify-content-between text-center" style="border:2px solid rgb(0,21,136);border-radius:20px;margin-bottom:10px">
        <a href=""><img src="images/{{sp.images}}" alt="" style="width:200px;height:200px;margin: 20px" ng-repeat="sp in clothes| limitTo:5:0"></a>
      </div>
      <div class="row">
        <img src="images/quangcao4.png" alt="">
      </div>
      <h2 style="text-align: center;color:rgb(0,21,136)"><strong>ÁO THUN NĂM 2023</strong></h2>
      <div class="d-flex justify-content-between text-center" style="border:2px solid rgb(0,21,136);border-radius:20px;margin-bottom:10px">
        <a href=""><img src="images/{{sp.images}}" alt="" style="width:200px;height:200px;margin: 20px" ng-repeat="sp in clothes| limitTo:5:0"></a>
      </div>
    </div>
    </div>
    