 <div class="container">   
      <br>
      <br>
      <div class="header-login" style="margin-left:15px;">
        <div class="row">
          <div class="col-lg-5 img-thumbnail" style="width:500px;height:290px;margin-left: 15px;">
              <div class="mb-3 row" style="margin-top:15px">
                <form name="checkVar" class="form-login">
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label> <label class="text-danger" ng-hide="checkVar.email.$valid"check>(Email Không hợp lệ)</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" ng-model="email" name="email" required >
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label> <label class="text-danger" ng-hide="checkVar.pass.$valid"check>(Pass Không hợp lệ)</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" name="pass" ng-model="pass" required>
                  </div>
                </form>
                <div class="service-login">
    <div class="logo-supporter1" class="d-flex justify-content-between text-center">
      <a href=""><img src="images/facebook.png" alt=""></a>
      <a href=""><img src="images/google.png" alt=""></a>
      <a href=""><img src="images/instagram.png" alt=""></a>
    </div>
    <div class="button-submit" style="margin-left:345px;margin-top:10px">
      <input class="btn btn-primary" type="submit" value="Submit">
    </div>
    <div class="content-login" style="margin-top:-5px">
      <a href="" style="text-decoration: none;" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <h9>Bạn chưa có tài khoản?</h9></a>
    </div>
  </div>
  </div>
          </div>
          <div class="col-lg-7">
            <div id="carouselExample" class="carousel slide">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="images/quangcao1.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="images/quangcao4.png" class="d-block w-100" alt="..." >
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="header" style="margin-top:20px">
          <strong><p style="text-align: center;font-family: 'Times New Roman', Times, serif;font-weight: lighter;font-size:20px;color:rgb(0,21,136);">LOẠI SẢN PHẨM</p></strong>
          <div id="carouselClothes" class="carousel slide" >
<div class="carousel-inner">
  <div class="carousel-item active">
    <div class="d-flex justify-content-between text-center img-thumbnail">
      <a href=""><img src="images/DJ7641-496.png" alt="" style="width:50px;height:50px"></a>
      <a href=""><img src="images/DJ7641-496.png" alt="" style="width:50px;height:50px"></a>
      <a href=""><img src="images/DJ7641-496.png" alt="" style="width:50px;height:50px"></a>
      <a href=""><img src="images/DJ7641-496.png" alt="" style="width:50px;height:50px"></a>
      <a href=""><img src="images/DJ7641-496.png" alt="" style="width:50px;height:50px"></a>
      <a href=""><img src="images/DJ7641-496.png" alt="" style="width:50px;height:50px"></a>
      <a href=""><img src="images/DJ7641-496.png" alt="" style="width:50px;height:50px"></a>
      <a href=""><img src="images/DJ7641-496.png" alt="" style="width:50px;height:50px"></a>
    </div>
  </div>
  <div class="carousel-item">
    <div class="d-flex justify-content-between text-center img-thumbnail">
      <a href=""><img src="images/DJ7641-496.png" alt="" style="width:50px;height:50px"></a>
      <a href=""><img src="images/DJ7641-496.png" alt="" style="width:50px;height:50px"></a>
      <a href=""><img src="images/DJ7641-496.png" alt="" style="width:50px;height:50px"></a>
      <a href=""><img src="images/DJ7641-496.png" alt="" style="width:50px;height:50px"></a>
      <a href=""><img src="images/DJ7641-496.png" alt="" style="width:50px;height:50px"></a>
      <a href=""><img src="images/DJ7641-496.png" alt="" style="width:50px;height:50px"></a>
      <a href=""><img src="images/DJ7641-496.png" alt="" style="width:50px;height:50px"></a>
      <a href=""><img src="images/DJ7641-496.png" alt="" style="width:50px;height:50px"></a>
    </div>
  </div>
  <div class="carousel-item">
    <div class="d-flex justify-content-between text-center img-thumbnail">
      <a href=""><img src="images/DJ7641-496.png" alt="" style="width:50px;height:50px"></a>
      <a href=""><img src="images/DJ7641-496.png" alt="" style="width:50px;height:50px"></a>
      <a href=""><img src="images/DJ7641-496.png" alt="" style="width:50px;height:50px"></a>
      <a href=""><img src="images/DJ7641-496.png" alt="" style="width:50px;height:50px"></a>
      <a href=""><img src="images/DJ7641-496.png" alt="" style="width:50px;height:50px"></a>
      <a href=""><img src="images/DJ7641-496.png" alt="" style="width:50px;height:50px"></a>
      <a href=""><img src="images/DJ7641-496.png" alt="" style="width:50px;height:50px"></a>
      <a href=""><img src="images/DJ7641-496.png" alt="" style="width:50px;height:50px"></a>
    </div>
  </div>
</div>
<button class="carousel-control-prev" type="button" data-bs-target="#carouselClothes" data-bs-slide="prev" style="background-color:black;margin-left:-50px;width:50px;height:60px;border-top-left-radius: 8px; border-bottom-left-radius: 8px;">
  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  <span class="visually-hidden">Previous</span>
</button>
<button class="carousel-control-next" type="button" data-bs-target="#carouselClothes" data-bs-slide="next" style="background-color:black;margin-right:-50px;width:50px;height:60px;border-top-right-radius: 8px; border-bottom-right-radius: 8px;">
  <span class="carousel-control-next-icon" aria-hidden="true"></span>
  <span class="visually-hidden">Next</span>
</button>
</div>
          </div>
          
    </div>
    <hr width="1220px" style="background-color: black;margin-top:90px;margin-left:-50px">
    <div class="container">
    <div class="body" style="margin-top:40px;margin-left:-50px;margin-bottom: 30px;">
      <div class="row">
        <div class="col-lg-2">
          <label style="color:rgb(0,21,136);">TÌM KIẾM</label>
          <input type="text" style="border-radius: 20px;"ng-model="keyword"> <br> <br>
          <ul class="list-group" style="border-radius: 20px;">
            <li class="list-group-item active" aria-current="true">BẢNG SẮP XẾP</li>
            <li class="list-group-item" href="" ng-click="order('name',false)">Sắp xếp theo tên</li>
            <li class="list-group-item" href="" ng-click="order('price',false)">Sắp xếp theo giá</li>
            <li class="list-group-item" href="" ng-click="order('','')">Sắp xếp theo số áo</li>
            <li class="list-group-item" href="" ng-click="order('','')">Sắp xếp theo loại áo</li>
          </ul>
          </div>
          
        <div class="col-lg-10">
          <div class="row row-cols-1 row-cols-md-3 g-6">
            <div class="col" ng-repeat="sp in clothes | orderBy: cot :kieu | filter: keyword:false |limitTo: limit : start track by sp.id">
              <div class="card">  
                <a href="#!detail/{{sp.id}}" class="newhover">
                <img src="images/{{sp.images}}" class="img-clothes card-img-top" alt="...">
                <div class="img-content">
                  <p>Loại áo: Áo thun</p>
                <p>Số áo: 9</p>
                <p>Giá áo: {{sp.price}}</p>
                <p>Tên áo: {{sp.name}}</p>
                </div>
                <div class="card-body">
                  <h5 class="card-title">{{sp.price}}</h5>
                  <p class="card-text">{{sp.name}}</p>
                  <button class="btn btn-primary" ng-click="mua(sp)">Mua</button>
                </div>
              </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
        </div>
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
              <li class="page-item {{(page==1)? 'disabled' : ''}}"><a class="page-link" href="" ng-click="showPage(page-1)">Prev</a></li>
              <li class="page-item {{(page==p+1)? 'active' : ''}}" ng-repeat="p in numOfPage"><button class="page-link" ng-click="showPage(p+1)">{{p + 1}}</button></li>
              <li class="page-item {{(page==totalPage)? 'disabled' : ''}}"><a class="page-link" href="" ng-click="showPage(page+1)">Next</a></li>
          </ul>
      </nav>
      </div>
    </div>  
    <div class="modal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Modal title</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>Modal body text goes here.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>